footer {
    height: 100%;
    width: 100%;
    padding: 4rem;
    background-color: #07736a;
    color: white;
    font-family: "Lobster";
    .footer__list-item {
        list-style: none;
    }
}