/***********************************
            HEADER
***********************************/
.main-header {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        & {
            flex-direction: column-reverse;
        }
    }    

}

#menu {
    display: none;

    &:checked + .nav-bar {
        display: block;
    }
    
    &:checked ~ .search-bar .menu-toggle__label {
        background-color: yellow;
    }

}

/***********************************
            NAV BAR
***********************************/
.nav-bar {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    font-family: "Lobster";
    &__nav-logo{

    }
    &__nav-logo.main-logo{
        & > a{
            height: 95px;
            padding: 0px;
        }
        & > a > .logo-container{
            height: 100%;
        }
        & > a > .logo-container > img{
            height: 100%;
            object-fit: cover;
            object-position: center;
            width: 150px;
        }
    }
    &__nav-list {
        display: flex;
        list-style-type: none;
        justify-content: center;
        font-size: 1.4rem;

        @media (max-width: 768px) {
            & {
                flex-direction: column;
            }
        }

    }

    &__nav-item {
        text-align: center;
        align-self: center;
    }

    &__nav-link {
        display: block;
        color: #07736a;
        padding: 1em 2em;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        & {
            display: none;
        }
    }    

}


/***********************************
            SEARCH BAR
***********************************/
.search-bar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    &__form-container {
        padding: 0;
        align-items: center;
    }
    
    &__form-container {
        background-color: transparent;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }
    
    &__form-search {
        width: 40%;
        height: 36px;
        @media (max-width: 768px) {
            width: 72%;
            height: 30%;
            align-self: center;
        }
    }
    
    &__form-submit {
        background-color: transparent;
        border: unset;
    }
    
    &__carrito-container {
        font-size: 2rem;
        filter: invert(1);
        background-color: transparent;
        cursor: pointer;
    } 
    & .nav-bar__nav-logo.main-logo{
        display:none;
        @media (max-width: 768px) {
            display: block;
        }
    }
}


/***********************************
            MENU TOGGLE
***********************************/
.menu-toggle {
    display: none;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 1px 8px 0px #07736a63;

    &__label {
        display: flex;
        background-color: transparent;
        height: 100%;
    }
    
    &__top-bread,
    &__meat,
    &__bottom-bread {
        display: block;
        background-color: #07736a;
        height: .2em;
        position: absolute;
        left: .5em;
        right: .5em;
    }
    
    &__top-bread {
        top: .8em;
    }
    
    &__meat {
        top: 50%;
        margin-top: -.1em;;
    }
    
    &__bottom-bread {
        bottom: .8em;
    }
    

    @media (max-width: 768px) {
        & {
            display: block;
            height: 4rem;
        }    
    }

}

