@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: whitesmoke;
}

body {
  font-family: "Open Sans", sans-serif;
}

.card {
  outline: none;
  flex-grow: 1;
  width: 220px;
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  box-shadow: -6px 5px 5px rgba(0, 0, 0, 0.2), -2px 0px 3px rgba(0, 0, 0, 0.4);
  border-radius: 17px 20px;
  transition: all 0.2s;
  background-color: transparent;
  cursor: pointer;
}
.card__image-container {
  height: 200px;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s;
}
.card__content {
  padding: 1em;
  color: #07736a;
}
.card__heading {
  font-size: 1.1em;
}
.card__subheading {
  font-size: 0.9em;
  font-style: italic;
  font-weight: bolder;
}
.card__article-header {
  font-size: 1em;
  font-weight: bolder;
  text-align: right;
  color: #07736a;
  margin-right: 30px;
}
@media (min-width: 1024px) {
  .card {
    min-width: 240px;
  }
  .card__image {
    width: 100%;
    height: 228px;
    object-fit: cover;
  }
  .card__image-container {
    overflow: hidden;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .card {
    min-width: 400px;
    max-width: 500px;
    height: 200px;
  }
  .card__image {
    width: auto;
  }
  .card__article {
    display: flex;
  }
  .card__article-header {
    display: none;
  }
}

.active {
  font-weight: bold;
}

/***********************************
            HEADER
***********************************/
.main-header {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  display: block;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: yellow;
}

/***********************************
            NAV BAR
***********************************/
.nav-bar {
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  font-family: "Lobster";
}
.nav-bar__nav-logo.main-logo > a {
  height: 95px;
  padding: 0px;
}
.nav-bar__nav-logo.main-logo > a > .logo-container {
  height: 100%;
}
.nav-bar__nav-logo.main-logo > a > .logo-container > img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 150px;
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  .nav-bar__nav-list {
    flex-direction: column;
  }
}
.nav-bar__nav-item {
  text-align: center;
  align-self: center;
}
.nav-bar__nav-link {
  display: block;
  color: #07736a;
  padding: 1em 2em;
  text-decoration: none;
}
@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

/***********************************
            SEARCH BAR
***********************************/
.search-bar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.search-bar__form-container {
  padding: 0;
  align-items: center;
}
.search-bar__form-container {
  background-color: transparent;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
.search-bar__form-search {
  width: 40%;
  height: 36px;
}
@media (max-width: 768px) {
  .search-bar__form-search {
    width: 72%;
    height: 30%;
    align-self: center;
  }
}
.search-bar__form-submit {
  background-color: transparent;
  border: unset;
}
.search-bar__carrito-container {
  font-size: 2rem;
  filter: invert(1);
  background-color: transparent;
  cursor: pointer;
}
.search-bar .nav-bar__nav-logo.main-logo {
  display: none;
}
@media (max-width: 768px) {
  .search-bar .nav-bar__nav-logo.main-logo {
    display: block;
  }
}

/***********************************
            MENU TOGGLE
***********************************/
.menu-toggle {
  display: none;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 1px 8px 0px #07736a63;
}
.menu-toggle__label {
  display: flex;
  background-color: transparent;
  height: 100%;
}
.menu-toggle__top-bread, .menu-toggle__meat, .menu-toggle__bottom-bread {
  display: block;
  background-color: #07736a;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
}
.menu-toggle__top-bread {
  top: 0.8em;
}
.menu-toggle__meat {
  top: 50%;
  margin-top: -0.1em;
}
.menu-toggle__bottom-bread {
  bottom: 0.8em;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    height: 4rem;
  }
}

footer {
  height: 100%;
  width: 100%;
  padding: 4rem;
  background-color: #07736a;
  color: white;
  font-family: "Lobster";
}
footer .footer__list-item {
  list-style: none;
}

.section-cards {
  background-color: #baf8ff80;
  padding: 1em;
}
.section-cards__header {
  color: #07736a;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
    padding: 5rem 5rem;
  }
}

.section-alta {
  padding: 1em;
}
.section-alta .input-group {
  margin: 0.5em 0 1.5em;
}
.section-alta .input-group input:not(input[type=checkbox]) {
  padding: 0.5em 1em;
  display: block;
  width: 100%;
  margin-top: 0.5em;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
}
.section-alta .input-group input:not(input[type=checkbox]):focus {
  border-left: 0.5em solid #333;
  border-right: 0.5em solid #333;
  padding-left: 0.5em;
  background-color: #f4f6f8;
}
.section-alta .input-group--error label,
.section-alta .input-group--error input:not(input[type=checkbox]) {
  color: #990000;
}
.section-alta .input-group--error label:focus,
.section-alta .input-group--error input:not(input[type=checkbox]):focus {
  border-color: #990000;
}
.section-alta .input-group--error input:not(input[type=checkbox])::selection {
  background-color: #cccccc;
}
.section-alta .input-group--error .error-detail {
  background-color: #ffcccc;
  color: #990000;
  font-weight: bold;
  padding: 0.25em 0.5em;
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}
.section-alta .input-group--error .error-detail:empty {
  padding: 0;
}
.section-alta #droparea {
  border: black 2px dashed;
}
.section-alta #droparea img {
  width: 100%;
  height: auto;
}
.section-alta #droparea.highlight {
  border-color: red;
}
.section-alta button {
  padding: 0.5em;
  margin-top: 1em;
}
@media (min-width: 426px) {
  .section-alta {
    width: 90%;
    /* max-width: 600px; */
    margin: 1em auto;
  }
}
@media (min-width: 768px) {
  .section-alta {
    padding: 2em;
    width: 90%;
    margin: 2em auto;
  }
}
.section-alta table, .section-alta th, .section-alta td {
  border: 1px solid black;
  border-collapse: collapse;
}
.section-alta table {
  width: 100%;
}
.section-alta th, .section-alta td {
  padding: 5px;
}

.section-carrito {
  padding: 5px;
  user-select: none;
  overflow-y: auto;
  display: none;
  position: fixed;
  background-color: #f1f2f3;
  z-index: 1;
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  box-shadow: 0.3em 0.3em 10em 0.3em black;
}
.section-carrito--visible {
  display: block;
}
.section-carrito table, .section-carrito th, .section-carrito td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
.section-carrito table {
  width: 90%;
  margin: 0 auto;
}
.section-carrito th, .section-carrito td {
  padding: 5px;
}
.section-carrito button.btn__enviarCarrito {
  float: right;
  margin: 15px;
  width: 100px;
  height: 35px;
  font-size: 1.1em;
  font-weight: bold;
}

/* Checkout Payment Section - Start */
.container_payment {
  display: block;
}

.payment-form {
  padding-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.payment-form.dark {
  background-color: #f6f6f6;
}

.payment-form .content {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
}

.payment-form .block-heading {
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.payment-form .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  color: RGBA(0, 0, 0, 0.45);
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
  margin-bottom: 1.2rem;
  color: #009EE3;
}

.payment-form .form-payment {
  border-top: 2px solid #C6E9FA;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: #ffffff;
  padding: 0;
  max-width: 600px;
  margin: auto;
}

.payment-form .title {
  font-size: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0.8em;
  font-weight: 400;
  padding-bottom: 8px;
}

.payment-form .products {
  background-color: #f7fbff;
  padding: 25px;
}

.payment-form .products .item {
  margin-bottom: 1em;
}

.payment-form .products .item-name {
  font-weight: 500;
  font-size: 0.9em;
}

.payment-form .products .item p {
  margin-bottom: 0.2em;
}

.payment-form .products .price {
  float: right;
  font-weight: 500;
  font-size: 0.9em;
}

.payment-form .products .total {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-top: 19px;
  font-weight: 500;
  line-height: 1;
}

.payment-form .payment-details {
  padding: 25px 25px 15px;
  height: 100%;
}

.payment-form .payment-details label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #8C8C8C;
  text-transform: uppercase;
}

.payment-form button {
  margin-top: 0.6em;
  padding: 12px 0;
  font-weight: 500;
  background-color: #009EE3;
  margin-bottom: 10px;
}

.payment-form .mercadopago-button {
  width: 100%;
  padding: 8px 0;
}

.payment-form a, .payment-form a:not([href]) {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #009ee3;
  cursor: pointer;
}

.payment-form a:not([href]):hover {
  color: #3483FA;
  cursor: pointer;
}

.mission__container {
  min-height: 500px;
  padding: 5rem 5rem;
}
.mission__title {
  color: #07736a;
}
.mission__description {
  color: #07736a;
}
.mission__description h2 {
  color: #07736a;
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
