.card {
    outline: none;
    flex-grow: 1;
    width: 220px;
    max-width: 300px;
    height: 400px;
    overflow: hidden;
    box-shadow: -6px 5px 5px rgb(0 0 0 / 20%), -2px 0px 3px rgb(0 0 0 / 40%);
    border-radius: 17px 20px;
    transition: all 0.2s;
    background-color: transparent;
    cursor: pointer;
    
    &__image-container {
        height: 200px;
    }
    
    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: .2s;
    }

    &__content {
        padding: 1em;
        color:#07736a;
    }
    
    &__heading {
        font-size: 1.1em;
    }
    &__subheading {
        font-size: 0.9em;
        font-style: italic;
        font-weight: bolder;
    }
    
    &__article-header{
        font-size: 1em;
        font-weight: bolder;
        text-align: right;
        color: #07736a;
        margin-right: 30px;
    }
    @media (min-width: 1024px) {
        & {
            min-width: 240px;
        }
        &__image {
            width: 100%;
            height: 228px;
            object-fit: cover;
        }
        &__image-container {
            overflow: hidden;
        }
    }
    
    
    @media (min-width: 426px) and (max-width: 768px) {
    
        & {
            min-width: 400px;
            max-width: 500px;
            height: 200px;
        }
        
        &__image {
            width: auto;
        }
        &__article {
            display: flex;
        }
    
        &__article-header{
            display: none;
        }
    }
}

